body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow-y: auto; 
    background-color: #28282B;
    font-family: Arial, Helvetica, sans-serif;
}

p, h1, h2{
    color: #FAF9F6;
}

.content {
    background-color: #28282B;
    width: 100%;
    min-height: 100%; 
    display: flex;
    flex-wrap: wrap; 
    justify-content: center; 
    padding: 20px; 
    box-sizing: border-box; 
}

.diagrams {
    display: flex;
    flex-wrap: wrap; 
    justify-content: center; 
    gap: 20px; 
    width: 100%;
}
.diagram{
    max-width: 50rem;
}

.diagram, .diagram-wide {
    box-shadow: 0px 0px 10px 10px white;
    border-radius: 20px;
    height: 25rem;
    cursor: pointer;
    margin: 10px;
    min-width: 40rem;
}

.diagram-wide {
    width: 100rem;
}

#diagram_one:hover {
    box-shadow: 0px 0px 10px 10px #c820d8;
}

#diagram_two:hover {
    box-shadow: 0px 0px 10px 10px #19ca1c;
}

#diagram_three:hover {
    box-shadow: 0px 0px 10px 10px #19cab7;
}

.popup {
    display: none;
    position: fixed;
    z-index: 10;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);

}

.popup-content {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    height: 90%;
    background-color: #28282B;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 10px #19cab7;
    display: flex; 
    flex-direction: column;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden; /
}

.popup-content .main-content {
    flex: 1; 
    padding: 20px;
    overflow: auto; 
    box-sizing: border-box;
}

.popup-content .settings {
    height: 10%; 
    background: #28282B;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-top: 1px solid black;
}

.popup-content .settings:hover {
    background: #2c2c30;
}


.popup-content .close {
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 1.5rem;
    cursor: pointer;
    color: #FAF9F6;
}

select {
    width: 90%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #2c2c30;
    color: #FAF9F6;
}

select:focus {
    border-color: #19cab7;
    outline: none;
}

label {
    font-size: 1rem;
    color: #FAF9F6;
    margin-top: 10px;
}

button {
    margin-top: 20px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #19cab7;
    color: #FAF9F6;
    font-size: 1rem;
    cursor: pointer;
}

button:hover {
    background-color: #17a2a2;
}

@keyframes settingsSlideIn {
    from {
        transform: translateY(100%);
    }
    to {
        transform: translateY(0);
    }
}

@keyframes settingsSlideOut {
    from {
        transform: translateY(0);
    }
    to {
        transform: translateY(100%);
    }
}

.settings-content {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 90%;
    background: #28282B;
    z-index: 2;
    display: none;
    overflow: auto;
    padding-left: 20px;
}

.settings-content.slide-in {
    display: block;
    animation: settingsSlideIn 0.5s ease-out forwards;
}

.settings-content.slide-out {
    display: block;
    animation: settingsSlideOut 0.5s ease-in forwards;
}

select:hover{
    cursor: pointer;
    color: #17a2a2;
}